---
name: search
url: /search
---
<div ng-controller="UserController" class="grid-block" ng-init="search()">
    <div class="grid-content medium-4">
        <user model="$session.user"></user>
    </div>
    <div class="grid-content medium-8">
		<form novalidate ng-submit="saveSearch()">
            <label>
                <span class="inline-label">
                    <input type="search" ng-model="searchUsername" placeholder="Search an user">
                    <input href="#" class="button" type="submit" value="Search">
                </span>
            </label>
        </form>
        <div class="block-list">
        	<ul ng-repeat="user in users">
        		<li><a ui-sref="users.show({ username: user.username })">{{ user.displayname }}</a></li>
        	</ul>
        </div>
    </div>
</div>
