<div zf-modal="" id="createGabModal" class="collapse">
    <div class="grid-block vertical">
        <div class="primary title-bar">
            <div class="center title">Compose a new Gab</div>
            <span zf-close="" class="right"><a>×</a></span>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <form>
                <label>
                    <textarea></textarea>
                </label>
            </form>
        </div>
    </div>
</div>
