<div ng-controller="UserController" class="grid-block" ng-init="show()">
    <div class="grid-content medium-4">
        <div ng-if="$authentication.isAuthenticated() && $session.user.username === user.username">
            <a ui-sref="users.edit({ username: user.username })">Edit profile</a>
        </div>
        <user model="user"></user>
    </div>
    <div class="grid-content medium-8">
        <div class="block-list" ng-init="followers()">
            <ul ng-repeat="user in users">
                <li>{{ user.displayname }}</li>
            </ul>
        </div>
    </div>
</div>
