<div zf-modal="" id="registerModal" class="collapse">
    <div class="grid-block vertical" ng-controller="AuthController">
        <div class="primary title-bar">
            <div class="center title">Login</div>
            <span zf-close="" class="right"><a>×</a></span>
        </div>
        <div class="grid-content padding" style="padding-top: 1rem;">
            <form novalidate ng-submit="register()">
                <label>
                    Username
                    <input type="text" ng-model="username" placeholder="Username" required>
                </label>
                <label>
                    Email
                    <input type="email" ng-model="email" placeholder="Email" required>
                </label>
                <label>
                    Birthdate
                    <input type="date" ng-model="birthdate" placeholder="Birthdate" required>
                </label>
                <label>
                    Firstname
                    <input type="text" ng-model="firstname" placeholder="Firstname" required>
                </label>
                <label>
                    Lastname
                    <input type="text" ng-model="lastname" placeholder="Lastname" required>
                </label>
                <div class="grid-content">
                    <label>Sexe</label>
                    <input type="radio" ng-model="gender" value="f" id="female"><label for="female">Female</label>
                    <input type="radio" ng-model="gender" value="m" id="male"><label for="male">Male</label>
                </div>
                <label>
                    Password
                    <input type="password" ng-model="password" placeholder="Password" required>
                </label>
                <label>
                    Password Confirmation
                    <input type="password" ng-model="password_confirmation" placeholder="Password" required>
                </label>
                <input type="submit" class="float-right button" value="Register">
            </form>
        </div>
    </div>
</div>
